<div class="container">
  <p style="color: green"><%= notice %></p>

  <h1>Restaurants</h1>

  <p><%= link_to "Top Rated Restaurants", top_restaurants_path %>
  <hr>

  <div id="restaurants">
    <% @restaurants.each do |restaurant| %>
      <%= render restaurant %>
      <p>
      <%= link_to "Show this restaurant", restaurant %>
      </p>
    <% end %>
  </div>

  <%= link_to "New restaurant", new_restaurant_path %>
</div>
